{% extends 'contact/base.html' %}
{% block body %}


    <div class="container">
        <h2>Contact Details</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="jumbotron">


                        <h2 id="nameHeader">{{ object.firstName }} {{ object.lastName }}</h2>

                            {{ object.email }}<br>
                            {{ object.phoneNumber }}<br>
                            {{ object.address }}<br>



                        <div class="row">
                            <form action="{% url 'contact:contact-update' object.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="object.id" value="{{ object.id }}">
                                <div class="col-sm-1">
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </form>

                            <form action="{% url 'contact:contact-delete' object.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="object.id" value="{{ object.id }}">
                                <div class="col-sm-1">
                                    <button atype="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
    </div>



{% endblock %}
