{% extends 'contact/base.html' %}
{% load staticfiles %}
{% block body %}
<!--
    <div ng-app="myModule" ng-controller="myController">
        <p>Input something in the input box:</p>
        {% verbatim %}
        <p>Name : <input type="text" ng-model="name"></p>
        <h1>Hello {{msg2}}</h1>
        <div ng-repeat="con in contacts">
            <h1>{{ con.firstName }}</h1>

        </div>
        {% endverbatim %}
        </div>


-->


{% verbatim %}

    <div ng-app="myModule" ng-controller="myController" class="container">



    <h2>&nbsp;&nbsp;My All Contacts</h2>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="container">
                <h2>Contact List</h2>

                    <table class="table table-responsive">

                        <thead>
                            <tr>
                                <th>Name( Sorted )</th>
                                <th>Phone Number</th>

                            </tr>
                        </thead>


 <!--                      <tbody>

                            {% for contact in all_contacts %}
                                    <span>
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                                    <td><a href="{% url 'contact:detail' contact.id %}">{{ contact.firstName }} {{ contact.lastName }}</a></td>
                                            <td>{{ contact.phoneNumber }}</td>
                                        </tr>
                                     </span>
                            {% endfor %}
                        </tbody>
-->


                        <tbody >
                            <tr ng-repeat="contact in contacts | orderBy:'firstName'">

                                    <td><a href="http://127.0.0.1:8000/contact/{{ contact.id }}">{{ contact.firstName }} {{ contact.lastName }}</a></td>
                                    <td>{{ contact.phoneNumber }}</td>

                                </tr>
                         </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}



{% endblock %}
